<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
  <span v-bind:title="message">
    Подержи курсор надо мной пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Вот когда вы загрузили эту страницу: ' + new Date().toLocaleString()
        }
    })
</script>
</body>
</html>